<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Stringy">
            <file>tests/StringyTest.php</file>
            <file>tests/StaticStringyTest.php</file>
            <file>tests/CreateTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
